:root {
    /* length */
    --main-content-margin: 6vw;
    /* text */
    --hero-text-color: #fff;
    --sub-hero-text-color: #ffffffcc;
    --text-color: #000;
    /* background */
    --bg-2: #fff2;
    --bg-4: #fff4;
    --bg-8: #fff4;
    --bg-b: #fffb;
    --bg-r-2: #0002;
    --bg-r-4: #0004;
    --bg-r-8: #0008;
    /* border */
    --border-in: #0002;
    --border-out: #fff8;
    /* accent */
    --accent-color: #3880ff;
    --accent-color-hover: #4c8dff;
    --accent-color-active: #3171e0;
    /* shadow */
    --light-shadow: 0px 10px 20px #0004;
    /* filter */
    --acrylic: blur(32px) saturate(1.2);
    /* timing-function */
    --timing-function: cubic-bezier(0.3, 0, 0, 1);
}

@media (prefers-color-scheme: dark) {
    :root {
        /* text */
        --text-color: #fff;
        /* background */
        --bg-2: #0002;
        --bg-4: #0004;
        --bg-8: #0004;
        --bg-b: #000b;
        --bg-r-2: #fff2;
        --bg-r-4: #fff4;
        --bg-r-8: #fff8;
        --bg-r-b: #fffb;
        /* border */
        --border-in: #fff2;
        --border-out: #0008;
    }
}

body {
    color: var(--text-color);
    font-family: 'SF Pro Rounded';
    overflow: hidden;
    min-height: 100vh;
}

a {
    color: var(--bg-r-b);
}

.btn.btn-primary {
    outline: none;
    border: none;
    background-color: var(--accent-color);
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    border-radius: 6px;
    padding: 6px 8px;
}

.btn.btn-primary:hover, .btn.btn-primary:focus {
    background-color: var(--accent-color-hover);
}

.btn.btn-primary:active {
    background-color: var(--accent-color-active);
}

.main>.image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.front>.previous-btn, .front>.next-btn {
    position: absolute;
    top: calc(50vh - 16px);
}

.front>.previous-btn {
    left: var(--main-content-margin);
}

.front>.next-btn {
    right: var(--main-content-margin);
}

.front>.bottom-left {
    position: absolute;
    left: var(--main-content-margin);
    bottom: var(--main-content-margin);
    font-family: 'SF Pro';
    color: var(--hero-text-color);
    pointer-events: none;
}

.front>.bottom-left>.month {
    margin: 0;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
    opacity: 0.8;
}

.front>.bottom-left>.date {
    margin: 0;
    font-size: 164px;
    line-height: 120px;
}

.front>.bottom-right {
    position: absolute;
    right: var(--main-content-margin);
    bottom: var(--main-content-margin);
    font-size: 20px;
    line-height: 20px;
    font-family: 'SF Pro Text';
    color: var(--sub-hero-text-color);
}

.front>.bottom-right>.photo-by {
    cursor: pointer;
    margin: 0;
    transition: opacity .35s;
}

.front>.bottom-right>.photo-by>.author {
    font-family: 'SF Pro Text Semibold';
    color: var(--hero-text-color);
}

.btn.acrylic-round-btn {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    background-color: var(--bg-8);
    backdrop-filter: var(--acrylic);
    -webkit-backdrop-filter: var(--acrylic);
    color: var(--text-color);
    padding: 0;
    text-align: center;
    transition: background-color .2s, transform .15s;
}

.btn.acrylic-round-btn:hover, .btn.acrylic-round-btn:focus {
    background-color: var(--bg-4);
    transform: scale(1.1);
}

.btn.acrylic-round-btn:active {
    background-color: var(--bg-8);
    transform: scale(0.9);
}

.front>.more-btn {
    position: absolute;
    right: var(--main-content-margin);
    bottom: var(--main-content-margin);
    opacity: 0;
    pointer-events: none;
}

.front>.more-btn>i {
    font-size: 28px;
    line-height: 32px;
}

@media screen and (max-width: 600px) {
    .front>.bottom-right>.photo-by {
        opacity: 0;
        pointer-events: none;
    }
    .front>.more-btn {
        opacity: 1;
        pointer-events: initial;
    }
}

.front>.more-panel {
    position: fixed;
    top: 0;
    right: -500px;
    bottom: 0;
    width: 500px;
    background-color: var(--bg-b);
    backdrop-filter: var(--acrylic);
    -webkit-backdrop-filter: var(--acrylic);
    box-shadow: 0 0 25px transparent;
    transition-property: right, box-shadow;
    transition-timing-function: var(--timing-function);
    transition-duration: 0.5s;
}

.front.more-panel--open>.more-panel {
    right: 0;
}

@media screen and (max-width: 600px) {
    .front>.more-panel {
        top: 100vh;
        left: 0;
        right: 0;
        height: 60vh;
        width: 100vw;
        border-radius: 8px 8px 0 0;
        transition-property: top, box-shadow;
    }
    .front.more-panel--open>.more-panel {
        top: 40vh;
    }
}

.front>.more-panel>.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 22px;
    line-height: 32px;
    backdrop-filter: none;
    background-color: transparent;
}

.front>.more-panel>.separator {
    height: 1px;
    background-color: var(--border-in);
}

.front>.more-panel>[section-number="1"] {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.front>.more-panel>[section-number="1"]>.image {
    height: 80%;
    border-radius: 4px;
    box-shadow: 0px 9px 20px #0003;
}

@media screen and (max-width: 600px) {
    .front>.more-panel>[section-number="1"] {
        height: 100px;
    }
    .front>.more-panel>[section-number="1"]>.image {
        height: 90%;
    }
}

.front>.more-panel>[section-number="2"] {
    text-align: center;
}

.front>.more-panel>[section-number="2"]>.photo-by {
    font-family: 'SF Pro Text';
}

.front>.more-panel>[section-number="2"]>.photo-by>.author {
    color: var(--text-color);
    text-decoration: none;
    font-family: 'SF Pro Text Semibold';
}

.front>.more-panel .action-blocks {
    display: flex;
    margin: 6px;
}

.front>.more-panel .action-blocks>.action {
    width: 100%;
    padding: 6px;
}

.front>.more-panel .action-blocks>.action>.action-btn {
    width: 100%;
    height: 86px;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: var(--bg-r-2);
    color: var(--text-color);
    text-decoration: none;
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background-color 0.2s;
}

.front>.more-panel .action-blocks>.action>.action-btn:hover, .front>.more-panel .action-blocks>.action>.action-btn:focus {
    background-color: var(--bg-r-4);
}

.front>.more-panel .action-blocks>.action>.action-btn:active {
    background-color: var(--bg-r-8);
}

.front>.more-panel .action-blocks>.action>.action-btn>.icon {
    font-size: 24px;
}

.front>.more-panel .action-blocks>.action>.action-btn>.text {
    margin-top: 4px;
    font-size: 16px;
}

.front>.more-panel .action-list {
    margin: 12px;
}

.front>.more-panel .action-list>.action:not(:last-child)::after {
    content: '';
    position: absolute;
    background-color: var(--border-in);
    width: calc(100% - 12px * 2);
    height: 1px;
}

.front>.more-panel .action-list>.action>.action-btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 0;
    background-color: var(--bg-r-2);
    color: var(--text-color);
    font-size: 16px;
    text-decoration: none;
    cursor: default;
    transition: background-color 0.2s;
}

.front>.more-panel .action-list>.action>a.action-btn {
    width: calc(100% - 16px);
}

.front>.more-panel .action-list>.action>.action-btn:hover, .front>.more-panel .action-list>.action>.action-btn:focus {
    background-color: var(--bg-r-4);
}

.front>.more-panel .action-list>.action>.action-btn:active {
    background-color: var(--bg-r-8);
}

.front>.more-panel .action-list>.action:nth-child(1)>.action-btn {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.front>.more-panel .action-list>.action:last-child>.action-btn {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.front>.more-panel .action-list-title {
    user-select: none;
    margin: -6px 20px;
    margin-top: 0;
    color: var(--bg-r-b);
    font-size: 14px;
}

.front>.more-panel>[section-number="5"] {
    text-align: center;
    user-select: none;
    color: var(--bg-r-8);
    font-size: 14px;
}

.front>.more-panel>[section-number="5"]>.icon {
    width: 32px;
    height: 32px;
}

.front>.more-panel>[section-number="5"]>.text {
    opacity: 0;
    transform: translateY(-6px) scale(0.9);
    transition-property: opacity transform;
    transition-duration: 0.5s;
}

.front>.more-panel>[section-number="5"]:hover>.text {
    opacity: 1;
    transform: translateY(0) scale(1);
    transition-delay: 0.3s;
}