:root {
    /* length */
    --main-content-margin: 6vw;
    /* text */
    --hero-text-color: #fff;
    --sub-hero-text-color: #ffffffcc;
    --text-color: #000;
    /* background */
    --bg-2: #fff2;
    --bg-4: #fff4;
    --bg-8: #fff4;
    --bg-b: #fffb;
    /* border */
    --border-in: #0002;
    --border-out: #fff8;
    /* accent */
    --accent-color: #3880ff;
    --accent-color-hover: #4c8dff;
    --accent-color-active: #3171e0;
    /* shadow */
    --light-shadow: 0px 10px 20px #0004;
    /* filter */
    --acrylic: blur(32px) saturate(1.2);
    /* timing-function */
    --timing-function: cubic-bezier(0, 0, 0, 1);
}

@media (prefers-color-scheme: dark) {
    :root {
        /* text */
        --text-color: #fff;
        /* background */
        --bg-2: #0002;
        --bg-4: #0004;
        --bg-8: #0004;
        --bg-b: #000b;
        /* border */
        --border-in: #fff2;
        --border-out: #0008;
    }
}

body {
    color: var(--text-color);
    font-family: 'SF Pro Rounded';
}

.btn.btn-primary {
    outline: none;
    border: none;
    background-color: var(--accent-color);
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    border-radius: 6px;
    padding: 6px 8px;
}

.btn.btn-primary:hover, .btn.btn-primary:focus {
    background-color: var(--accent-color-hover);
}

.btn.btn-primary:active {
    background-color: var(--accent-color-active);
}

.image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.front>.bottom-left {
    position: absolute;
    left: var(--main-content-margin);
    bottom: var(--main-content-margin);
    font-family: 'SF Pro';
    color: var(--hero-text-color);
}

.front>.bottom-left>.month {
    margin: 0;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
    opacity: 0.8;
}

.front>.bottom-left>.date {
    margin: 0;
    font-size: 164px;
    line-height: 120px;
}

.front>.bottom-right {
    position: absolute;
    right: var(--main-content-margin);
    bottom: var(--main-content-margin);
    font-size: 20px;
    line-height: 20px;
    font-family: 'SF Pro Text';
    color: var(--sub-hero-text-color);
}

.front>.bottom-right>.photo-by {
    cursor: pointer;
    margin: 0;
    transition: opacity .35s;
}

.front>.bottom-right>.photo-by>.author {
    font-family: 'SF Pro Text Semibold';
    color: var(--hero-text-color);
}

.btn.acrylic-round-btn {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    background-color: var(--bg-2);
    backdrop-filter: var(--acrylic);
    color: var(--hero-text-color);
    padding: 0;
    text-align: center;
}

.front>.more-btn {
    position: absolute;
    right: var(--main-content-margin);
    bottom: var(--main-content-margin);
    opacity: 0;
    pointer-events: none;
    transition: background-color 0.2s, opacity 0.35s;
}

.front>.more-btn:hover {
    background-color: var(--bg-4);
}

.front>.more-btn:active {
    background-color: var(--bg-8);
}

.front>.more-btn>i {
    font-size: 28px;
    line-height: 32px;
}

@media screen and (max-width: 600px) {
    .front>.bottom-right>.photo-by {
        opacity: 0;
        pointer-events: none;
    }
    .front>.more-btn {
        opacity: 1;
        pointer-events: initial;
    }
}

.front>.more-panel {
    position: fixed;
    top: 0;
    right: -500px;
    bottom: 0;
    width: 500px;
    background-color: var(--bg-b);
    backdrop-filter: var(--acrylic);
    box-shadow: 0 0 25px transparent;
    transition-property: right, box-shadow;
    transition-timing-function: var(--timing-function);
    transition-duration: 0.35s;
}

.front.more-panel--open>.more-panel {
    right: 0;
    box-shadow: 0 0 25px #000b;
}

@media screen and (max-width: 600px) {
    .front>.more-panel {
        top: 100vh;
        left: 0;
        right: 0;
        height: 60vh;
        width: 100vw;
        border-radius: 6px 6px 0 0;
        transition-property: top, box-shadow;
    }

    .front.more-panel--open>.more-panel {
        top: 40vh;
        box-shadow: 0 0 25px #000b;
    }
}

.front>.more-panel>.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 22px;
    line-height: 32px;
    transition: background-color 0.2s;
}